* {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

header {
    line-height: 73px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 59px;
}

.imagenprincipal {

    height: 727px;
    background-image: url(../img/imagen1.jpg);
    background-size: cover;
    opacity: 1;
}

section {
    height: 348px;
    background-color: black;
    overflow: auto;
    text-align: justify;
}

section p {
    color: white;
    width: 40%;
    margin-left: 150px;
    margin-top: 50px;

}

section img {

    float: right;
    width: 300px;
    height: auto;

    margin-right: 300px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

.iconos {
    height: 348px;
    color: white;
    background-color: #1E1A13;
    text-align: center;
  

}

.iconos .icono i {
    font-size: 40px;
 
}

.icono {
    display: inline-block;
    width: 30%;
  

}

.icono p {
    font-size: 24px;
    display: inline-block;
    margin: 0%;
}

.galeria {
    background-color: black;
    height: 200px;
    
    display: inline-block;
}

.section {
  width: 200px;
  height: auto;
}

footer {
    background-color: #1E1A13;
    height: 102px;
    font-size: 1.2500em;
    font-weight: 1.5em;
    color: white;
    text-align: center;
}